{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>🔑 Change Student Password</h2>
    <form method="POST">
        <label>Roll No:</label>
        <br>
        <input type="text" name="roll_no" required>
        <br>
        <div class="password-wrapper">
    <label for="new_password">New Password:</label>
    <div class="input-with-icon">
        <input type="password" id="new_password" name="new_password" required>
        <button type="button" class="togglePassword">
            <i class="fa-solid fa-eye"></i>
        </button>
        </div>
</div>

<br>

<button type="submit" class="btn-3d">Update Password</button>

    </button>
</div>
    </form>
</div>
{% endblock %}
