{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>✏️ Edit Problem</h2>
    <form method="POST">
        <label>Title:</label>
        <input type="text" name="title" value="{{ problem.title }}" disabled>

        <label>Description:</label>
        <textarea name="description" required>{{ problem.description }}</textarea>

        <label>Skill:</label>
        <input type="text" name="skill" value="{{ problem.skill }}" required>

        <label>Category:</label>
        <input type="text" name="category" value="{{ problem.category }}" required>

        <label>Branch:</label>
         <select name="branch" required>
         <option value="CSE" {% if problem.branch=='CSE' %}selected{% endif %}>CSE</option>
         <option value="IT" {% if problem.branch=='IT' %}selected{% endif %}>IT</option>
         <option value="ECE" {% if problem.branch=='ECE' %}selected{% endif %}>ECE</option>
         <option value="EEE" {% if problem.branch=='EEE' %}selected{% endif %}>EEE</option>
         <option value="ME" {% if problem.branch=='ME' %}selected{% endif %}>ME</option>
        </select>

        <button type="submit" class="btn-3d">Update Problem</button>
    </form>
</div>
{% endblock %}
