{% extends 'base.html' %}

{% block content %}
<div class="forget-password-container">
    <form method="post" class="forget-password-form">
        <h2>Forget Password</h2>
        <label for="roll_no">Roll No.</label>
        <input type="text" name="roll_no" id="roll_no" required placeholder="Enter your Roll No" />
        <label for="dob">Date of Birth (DDMMYYYY)</label>
        <input type="text" name="dob" id="dob" required placeholder="Enter your DOB" />
        <button type="submit">Retrieve Password</button>
    </form>
    <pre><u>If you have already changed your password once, you will not be able to change it here again.</u>
<i><b>Please visit the Helpdesk and contact our support team for assistance.</b></i></pre>
<h5><a href="{{ url_for('helpdesk') }}">Helpdesk</a></h5>
</div>
{% endblock %}
